.history-drawer {
  margin-top: 3rem;
  text-align: left;
}

.history-drawer .title {
  display: flex;
  border-bottom: 1px solid #424242;
}

.history-drawer h2 {
  margin-top: 0;
  margin-bottom: 8px;
}

.history-drawer .title span {
  margin-right: 8px;
}

.select-backup {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.select-backup h4{
  margin-bottom: 8px;
}