.note-page{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
}

.note header {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
}

.note header h1 {
  margin: 0;
}

.note {
  text-align: left;
  width: 70%;
}

.note footer p{
  text-align: right;
  margin: 0;
}

.history-drawer-container {
  width: 30%;
}